[2016-08-23 17:35] pixeldesu commented on #499
This does not just take minutes.

It would work way faster if people would cooperate with us to help that issues are fixed, because we do not want to push another broken release.

You could go ahead and try the current master branch of the repository with your workflow and look if everything is working fine again. I just want to get sure that the old behaviour is restored, but we have the new chan

[2016-08-23 19:09] zenopopovici commented on #499
It would take minutes if you were using a develop branch. And only merge stuff into master once they are properly tested. (Like using GitFlow approach: https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow)

I'm pretty sure we can switch to another branching model with absolutely no issues. (PR's would just need to be re-done (we only have 5).

It doesn't make sense to keep

[2016-08-23 19:20] pixeldesu commented on #499
The problem is, which kind of started this all, was over a year worth of unreleased changes that basically changed the entire API, and they, slipped into one fix-release, which then followed up another one (6.1.4), which also isn't really working (but better than 6.1.3, which is abysmal).

The current master reflects fixes that should work, and I've gotten some feedback on it, which is great, but

[2016-08-23 19:48] zenopopovici commented on #499
Understood. Will be testing the master in the coming month to see if there are issues.

[2016-08-26 09:13] k1sul1 commented on #494
I'm using 6.1.2, as the master branch has some bugs too.

For example, text-align: center was transformed into text-transform: j-center, which doesn't really make sense. Might be also somehow related to Vue.js, but I highly doubt it.

If you care to try it, steps to reproduce:

1. Start new Vue project with vue-cli, `vue init webpack projectname`
2. `npm install --save-dev mojotech/jeet#master sty

[2016-08-27 14:33] joelsantosbr opened #500 "Import jeet failed"
**Task Gulp**
`gulp.task('stylus', function(){
    gulp.src('_source/stylus/main.styl')
    .pipe(plumber())
    .pipe(stylus({
        use:[jeet(), koutoSwiss(), prefixer(), rupture()],
        'include css': true
    }))
    .pipe(gulp.dest('_site/assets/css/'))
    .pipe(browserSync.reload({stream:true}))
    .pipe(gulp.dest('_source/stylesheets/'))
});

**main.styl**
`@import 'jeet'`

**Consol

[2016-08-27 15:14] pixeldesu commented on #500
See #494. #491, #493

Please read other issues before reporting a duplicate!

[2016-08-27 20:16] tremby opened #501 "Feature request: function to get percentage width for a column"
I find myself often doing

[code]

in order to get the width a column of a particular size would be (to apply to some other non-column element). It does exactly what I want but is not very readable.

If it would be useful to others too, perhaps a function could be added which performs the same function? i.e. something like `jeet-get-column-percentage(ratios) -> x%`

[2016-08-28 14:14] gl2748 commented on #129
Same, reverting to 6.1.1.
In my roots dir run: `npm i jeet@6.1.1 -S`
Check package.json to ensure correct version is now required.

[2016-08-29 15:43] seathony opened #502 "Failed to locate file jeet.styl using webpack."
**Console**

   1| @import 'jeet'
--------------^
   2|
   3| edit()
   4|

failed to locate @import file jeet.styl

**package.json**

[code]
**webpack.config.js**

[code]
I tried downgrading the npm package as well as using the master branch, neither solved my problem.
Any help would be greatly appreciated.

[2016-08-29 21:35] corysimmons commented on #501
Very clever 👍

I made something you might like: https://github.com/corysimmons/postcss-ant

[2016-08-29 23:16] seathony commented on #502
Ended up using `svn checkout https://github.com/mojotech/jeet/trunk/stylus/jeet`(which shows there is no jeet.style)
and doing `@import '../jeet/index'` instead.

[2016-09-06 09:06] coffeeneed commented on #487
Is it possible for you guys to give an ETA on this?

[2016-09-14 15:55] alex-shamshurin commented on #469
Yep, the same is with sass. I still cannot import even bootstrap from node_modules.

[2016-09-14 17:25] cho-is commented on #491
+1

[2016-09-15 08:27] alex-shamshurin commented on #486
Is this possible to @import 'jeet' only once in main file like style.styl ?

[2016-09-15 08:31] alex-shamshurin commented on #502
@import '../jeet/index' ? What is path base?

[2016-09-21 07:34] tikiatua commented on #502
Thank you for the great jeet library but please stop messing up the webpack setup. It is somewhat annoying to go through the same problem again with every new release.

It would be very helpful if you could provide a recommended setting for webpack and stick with it.

[2016-09-22 08:35] alex-shamshurin commented on #491
What's the f... ? One brunch does not work correctly with imports, another with j prefix.. How to se it?

[2016-09-22 09:20] alex-shamshurin commented on #494
master branch has major error with j-center

[2016-09-22 09:28] alex-shamshurin commented on #499
@pixeldesu What is more simple to downgrade master branch to 6.1.2 or whatever is working now and move HEAD from it to DEVELOP branch?

[2016-09-28 12:00] chrizzzle opened #503 "Question: Consistent gutter widths without knowing the parent's width?"
First of all, thank you for the brilliant work!
I have the following question: I am currently working on a modular page. Each module can be used at different locations and can have different parent containers.
The parent containers can be of any size. For example, one might span over the full page while the other might take up a quarter of the page's width.
Is it possible to have consistent grid g

[2016-09-28 14:30] awhitehouse104 commented on #497
What's odd is there's a commit that did this intentionally titled "Remove superfluous uncycle param", but it was left for span. Anyone know a reason for this? It's still in the docs as well.

[2016-09-28 15:17] pixeldesu commented on #497
@awhitehouse104 I honestly have no idea myself.

I opted in as a new maintainer and there has been a year (almost two) of unpublished changes which then slipped into a newer release where we just planned to adjust smaller stuff.

I'm currently thinking about reverting the entire git history back to the 6.1.2 release commit, so we have a _clean_ "working" state the users are adjusted to and then pr

[2016-09-28 15:26] pixeldesu opened #504 "Rollback to 6.1.2"
This seems like a pretty drastic change, but considering how bad everything went onward the release of 6.1.3 and following, I want to clear up what exactly happened here:

Earlier this year I opted in as a maintainer for jeet, as it was unmaintained at that point in time and we regularly use it in our company.

When new maintainers got in, just one person besides me, we already found a few small t

[2016-09-28 15:27] pixeldesu commented on #499
@zenopopovici @alex-shamshurin

I opened #504 as a discussion for a revert and bringing back features from 6.1.2, leave a reaction or comment for feedback!

Will be closing this issue in the meantime.

[2016-09-28 15:27] #499 closed

[2016-09-28 15:45] ethikz commented on #497
@pixeldesu That would be great!  Could possibly help as well once in stable state

[2016-09-28 15:48] awhitehouse104 commented on #497
@pixeldesu  Cool, that's awesome you're picking this up, it's a wonderful project. I'm not exactly a sass/stylus expert, but if you ever need help or just another pair of eyes let me know!

[2016-09-28 17:21] pixeldesu commented on #497
@ethikz you should probably check out #504 then, an issue/discussion about the rollback I've been talking about, just collecting some feedback about it there!

[2016-09-28 21:04] zenopopovici commented on #504
Yes. Thank you. Also please switch to a develop/master branch where master is used just to push new versions. This would make reverting stuff much easier.

[2016-09-29 09:52] pixeldesu commented on #504
Revert is done now, I'll update the package with the maintainer information etc. and then re-release 6.1.2 as 6.1.5! Well, it actually was a hard reset removing 100 commits from the history (I know, bad practise, but reverting commits/merges easily would have cost me several hours).

I'll also leave a deprecation notice for 6.1.3/6.1.4 telling people to "upgrade" to 6.1.5.

For everyone being scar

[2016-09-29 10:12] pixeldesu commented on #488
@28Bytes Please try again using `6.1.5`, I just now went ahead and reverted the codebase back to 6.1.2 and re-released the old working code (just to have clean progress)

everything should be working as expected again.

[2016-09-29 10:13] pixeldesu commented on #493
@katywings I just now re-released 6.1.2 as 6.1.5, just to have clean progress on the repository again and being able to work on changes better now!

[2016-09-29 10:13] #493 closed

[2016-09-29 10:14] pixeldesu commented on #491
I just now went ahead and re-released 6.1.2 as 6.1.5 (since I can't unpublish old releases on NPM), everything should work as expected again!

Please comment on this issue if it happens to be otherwise. I deprecated both 6.1.3 and 6.1.4

[2016-09-29 10:14] #491 closed

[2016-09-29 10:16] pixeldesu commented on #494
@awonawilona I just re-released 6.1.2 as 6.1.5, making the changes from 6.1.3 and 6.1.4 obsolute, please try again using the new release and report if there are any problems with it!

[2016-09-29 10:16] #494 closed

[2016-09-29 10:17] pixeldesu commented on #500
@joelsantosbr Jeet 6.1.3/6.1.4 are deprecated now, please use 6.1.5 (which is a re-release of 6.1.2 code)

[2016-09-29 10:17] #500 closed

[2016-09-29 10:26] pixeldesu commented on #502
@seathony @tikiatua

I just released a _new_ version, 6.1.5 (basically a re-release from 6.1.2 code) which should hopefully work better than the last two releases. Please confirm this!

If it works, we can add your webpack configuration as a recommended setting for other users to help them use Jeet with webpack easier!

[2016-09-29 10:31] pixeldesu commented on #497
As I reverted the code back to 6.1.2 with the new release of 6.1.5 (technically just a re-release because NPM does not allow unpublishing of releases that are older than 24 hours), this is included again!

[2016-09-29 10:31] #497 closed

[2016-09-29 14:44] pixeldesu commented on #498
@akrueger Since I just released a new version that opens the path for better updates, I'll also prepare a seperate page for the documentation instead of a sidebar you need to toggle!

[2016-09-30 10:06] danielfdsilva commented on #504
**Stop changing the main scss file name, and only updating the patch.**

Sorry about the burst, but had to get it out.
Before version `6.1.3`, the main scss was named `index.scss` and after that `_jeet.scss`. This change was made with only `patch` version changing. When installing this through `npm` it will look for the most recent patch (by default), because patches should not have breaking chang

[2016-09-30 10:32] pixeldesu commented on #504
@danielfdsilva this was the last time updating the patch version of 6.1, effectively just reverting the code back to 6.1.2 behaviour.

I wanted to get a clean slate back before doing anymore file naming changes, and as people mostly reported problems with the old naming to the new one I deprecated the last two releases stating 6.1.5 is based on 6.1.2 code.

Sorry for the inconvience this has cause

[2016-10-03 10:38] tikiatua commented on #502
Thanks for the update.

It works now with the following configuration:

[code]

[2016-10-14 13:18] nathanhornby opened #506 "cf troubles"
Apologies for the utterly basic question, but are there any examples of how to correctly use the CF mixin?

I've always used my own in the past when using jeet but I decided to work it into my latest project, but…

[code]
(Stylus)

Is giving me an empty class - do I need to pass the mixin a variable? Am I using it incorrectly?

[2016-10-14 22:20] corysimmons commented on #506
`cf()` should work the way you're using it.

https://github.com/mojotech/jeet/blob/master/stylus/jeet/_grid.styl#L285-L293

It's just a mixin.

[2016-10-18 09:41] damienmcd commented on #498
One thing I found slightly confusing when I began using Jeet was the use of parameters to functions requiring the $ in SCSS.

For example:
```@include col(1/2, $gutter: 5, $uncycle: 3, $cycle: 2);```

Would be very convenient to have a note in the documentation to highlight that the $ is required. Once you know it's required, you'll never forget it. It might help people starting out with Jeet.

[2016-10-18 12:20] tamilsweet opened #507 "Fixed width sidebar with fluid content area"
I'm trying to figure out how to create a fluid layout with a fixed width sidebar and fluid content area using Jeet.

HTML:
[code]
CSS:
[code]
How to set `.content` so that it takes remaining space and remain fluid.

[2016-10-20 16:06] corysimmons commented on #507
Jeet can't really do that. I'm working on a new thing now that can.

In the meantime, try `.wrapper { display: flex; } .sidebar { width: 240px; } .content { flex-grow: 1; }`

[2016-10-23 21:21] #504 closed

[2016-10-24 21:13] corysimmons opened #508 "I'm baaaack!"
![image](https://cloud.githubusercontent.com/assets/224636/19664090/f339db4a-9a0c-11e6-9110-08bebe094ad0.png)

I'm a maintainer again. Will do my best to get this puppy somewhere nice and safe.

[2016-10-24 21:14] pixeldesu commented on #508
You should also have sufficient rights for merges/etc. again! Welcome back on board! 🎉

[2016-10-25 03:14] #508 closed

[2016-10-25 03:15] corysimmons opened #509 "Community request: please review the 7.0.0 PR. It has a lot of breaking changes in it but should fix a lot of stuff."
https://github.com/mojotech/jeet/pull/505

I'll leave this up for a few days then push the button.

[2016-10-25 03:16] #507 closed

[2016-10-25 03:16] #506 closed

[2016-10-25 03:20] corysimmons commented on #503
No sorry, Jeet, Susy, Neat, can't do this. These grids were invented before `calc` was around and we opt'd for the less-markup/more-styles approach.

`calc` grids like Lost can do this with little markup.

Bootstrap/Foundation can do this and _might_ be a better option since you're using components.

Try out both.

Sorry it took so long to reply. Hopefully this helps you make a decision on your ne

[2016-10-25 03:20] #503 closed

[2016-10-25 03:34] corysimmons commented on #502
@seathony @tikiatua Hey, can you confirm https://github.com/mojotech/jeet/pull/505 works with your preferred methods of using Webpack?

[code]

...generates [a bundle](https://gist.github.com/corysimmons/074a8e7e9e5fc9068035c4a3d964da67) with lots of webpack junk in it, but seems to actually process Jeet as evident by [this line](https://gist.github.com/corysimmons/074a8e7e9e5fc9068035c4a3d964da67

[2016-10-25 03:45] corysimmons commented on #476
LESS was nice a decade ago, but didn't age well. Let's not support its continued existence.

I don't think we need to do everything right now. What's most important is getting the current stuff working.

I think we should consider migrating to jeet-scss, and jeet-stylus once we've given CPR to this project and have it in a really nice/stable place, but until then, there's more than enough confusio

[2016-10-25 03:45] #476 closed

[2016-10-25 03:50] corysimmons opened #510 "Wishlist"
- [ ] Flexbox support
- [ ] Match as many variable/function/mixin names as possible throughout both ports
- [ ] Cleanup/upgrade docs
- [ ] Decent tests

[2016-10-25 04:25] corysimmons commented on #498
@akrueger This is part of the 7.0.0 PR. It only displays the Sass version of the arguments, but the params are the same so it shouldn't be too hard to figure out the Stylus alternative by browsing `_grid.styl` for a sec.

@damienmcd np, this is actually supposedly a convention in Stylus, but Stylus' docs/community is all over the place with conventions (a bad thing).

If I get time I'll update the

[2016-10-25 04:25] #498 closed

[2016-10-25 04:28] corysimmons commented on #501
This functionality will be part of 7.0.0: https://github.com/corysimmons/jeet/blob/d679175d84e01b34d30492724096113b386ccf37/styl/_grid.styl#L43-L50

[2016-10-25 04:28] #501 closed

[2016-10-25 04:30] corysimmons commented on #495
tbh, Jeet was invented in the time of jQuery Equal Heights plugins, when there was no clean way to do this with CSS.

We'll release flexbox support after 7.0.0 gets merged. Flexbox supports this behavior.

What do you mean "word-wrapping in `col()` by default"?

[2016-10-25 04:31] corysimmons commented on #488
Default aliases are completely removed in 7.0.0.

[2016-10-25 04:31] #488 closed

[2016-10-25 04:33] corysimmons commented on #487
@pixeldesu What'd we decide on this? Can we just push a 6.1.* that basically reverts back to 6.1.2?

[2016-10-25 04:36] corysimmons commented on #486
@zhulongzheng Thanks for the workaround. We'll try to release something that fixes this breakage soon.

@alex-shamshurin Implicit inclusion is included in 7.0.0.

_(Look maw! I'm a literate!)_

[2016-10-25 04:36] #486 closed

[2016-10-25 04:38] corysimmons commented on #485
More problems with post 6.1.2 and aliases.

Will release a 6.1.* rollback and 7.0.0 will remove aliases.

Closing in favor of https://github.com/mojotech/jeet/issues/487

[2016-10-25 04:38] #485 closed

[2016-10-25 04:45] corysimmons commented on #480
Jeet shouldn't follow Sass' ...unfortunate... `projectname/projectname` convention. Sass should follow everything else in `projectname/index`.

Switching this back to `projectname/index` with 7.0.0. If you have a problem with it, take it up with Sass -- [many others have for years](https://github.com/sass/sass/issues/690).

[2016-10-25 04:45] #480 closed

[2016-10-25 04:53] corysimmons opened #511 "Rollback to 6.1.2?"
I've seen a lot of issues revolving around every version after 6.1.2.

Is everyone in favor of just labeling everything past 6.1.2 as a bug and making 6.1.* a patch that simply reverts back to 6.1.2?

It's tricky because half the people have figured out/implemented workarounds to 6.1.3+ buggery and the rollback would mess with those people.

On the other hand, Jeet might garner a little attention

[2016-10-25 04:54] corysimmons commented on #425
Maintainer again. PR for 7.0.0 here: https://github.com/mojotech/jeet/pull/505

[2016-10-25 04:54] #425 closed

[2016-10-25 05:02] corysimmons commented on #462
As much as `extends` always seems to appeal to me on the surface, I've heard it is an devtools and perf anti-pattern nowadays, and gurus still tend to prefer mixins.

@cspotcode Care to educate me on the downside of `extend` and if `+cache` is part of this problem or somehow gracefully avoids it?

And does `+cache` work across multiple files? :O

[2016-10-25 05:04] corysimmons commented on #405
$nth param approved. Closing to add to wishlist/todo referenced above.

[2016-10-25 05:04] #405 closed

[2016-10-25 05:20] tamilsweet commented on #507
Thanks @corysimmons for the suggestion.

[2016-10-25 05:21] corysimmons commented on #507
No problem. Glad to help.

[2016-10-25 06:47] tikiatua commented on #502
Hi there,

this will indeed work. The css will be included in the javascript. It can be extracted to a separate css file using the extract-text-webpack-plugin (example below):

[code]

[code]
You can then build your styles using `npm run build`.

[2016-10-25 12:01] dbox commented on #511
Yep, gotta patch it back to `6.1.2`. (We've manually forced it on all of our projects). It's definitely the right thing to do. This way anyone who hasn't touched a build in a while can do a fresh install without their build breaking.  I also have my doubts that anyone reworked code to make it work with anything newer.

[2016-10-25 13:41] coffeeneed commented on #511
I'd say revert back to `6.1.2` too.

[2016-10-25 16:33] corysimmons commented on #511
2 accomplices. Moving forward with the revert then.

[2016-10-25 16:33] #511 closed

[2016-10-25 16:44] corysimmons commented on #511
lol, seems like @pixeldesu already did this!

https://github.com/mojotech/jeet/commit/6a5733f5e6fdc0b7a17d8042096243a325d5e56e

I'll add a note to the README.

[2016-10-25 18:18] #509 closed

[2016-10-25 18:18] corysimmons commented on #509
https://github.com/mojotech/jeet/releases/tag/7.0.0

[2016-10-25 18:18] corysimmons commented on #502
https://github.com/mojotech/jeet/releases/tag/7.0.0 fixes this.

[2016-10-25 18:18] corysimmons commented on #487
https://github.com/mojotech/jeet/releases/tag/7.0.0 fixes this.

[2016-10-25 18:18] #487 closed

[2016-10-25 18:56] cspotcode commented on #462
Do you mean multiple source files or multiple output files?  I know that
`+cache` works across multiple source files because `extend` works across
multiple source files.

I can't educate you on the other stuff.

On Tue, Oct 25, 2016 at 1:02 AM, Cory Simmons <notifications@github.com>
wrote:

[2016-10-25 20:18] corysimmons commented on #462
I meant across multiple source files.

It's an interesting technique, but I think I'm going to close this because I've heard quite a lot of bad stuff about placeholders and `@extend` being a false prophet, and ol' fashion mixins being nicer.

[2016-10-25 20:18] #462 closed

[2016-10-25 20:34] corysimmons opened #513 "Migrate to Netlify"
@wkf Care to point jeet.gs to Netlify (jeet.netlify.com)? If you're still on DNSimple it has a one-click service for it.

The current site is loading about 50 scripts and instead of going through this legacy code and getting it all wired up together, I'd rather just throw it on HTTP2 and make it not waterfall on those requests so hard.

Lemme know if you're interested. If not, no biggie.

[2016-10-25 20:45] corysimmons commented on #495
Closing this until I hear back from you on what you mean by word-wrapping. Will reopen if you're still interested.

[2016-10-25 20:45] #495 closed

[2016-10-26 07:21] aolko commented on #495
well, someone never used that css feature, huh? ;)
![](http://www.webdesignerwall.com/wp-content/uploads/2010/03/break-word.gif)

[2016-10-26 07:29] corysimmons commented on #495
Ah yea I don't know if I've ever really used that. I usually just adjust overflow for that kind of stuff.

I'm not sure that's Jeet responsibility and Jeet already produces quite a bit of bloat trying to guess what users are going to do so 👎 to auto-word-wrapping, but 👍 to flexbox support.

Thanks for the response.

[2016-10-26 11:00] raydf commented on #502
Hi everyone:

This is not working with the 7.0.0 release.

Ubuntu 16.04
webpack 1.13.2

[2016-10-26 15:05] corysimmons commented on #502
@raydf What is not working exactly?

[2016-10-26 17:32] nathanhornby commented on #506
My apologies @corysimmons - it is (and was) in fact working correctly, I can only assume it was an issue with the inspect tool in Chrome.

[2016-10-26 17:44] nathanhornby opened #514 "Cycle not removing right margin"
Anyone know what might cause a `cycle` to simply not work?

`col(1/5, $cycle: 5)`

It gives me the five columns, but the fifth still has its right margin so breaks the layout. Adding/removing the `cycle` has no effect. Any way I can troubleshoot this?

[2016-10-26 17:44] corysimmons commented on #506
Ah, no problem. Glad it works for you. =)

[2016-10-26 17:44] corysimmons commented on #514
What version are you on?

[2016-10-26 17:45] nathanhornby commented on #514
Wow that was fast @corysimmons ! This project is on 6.1.5

[2016-10-26 17:57] corysimmons commented on #514
🤔 Hmm...

6.1.5 is a rollback to 6.1.2.

In 6.1.2 we didn't have `$` prefixing any of the variables.

Remove `$` from args. https://codepen.io/corysimmons/pen/yaAPqJ?editors=1100#0

---

I suggest you migrate to 7.0.0 though. Anything below 7 is pretty messed up, and if we get more people on 7+ I can iterate quickly to solve problems as opposed to fighting with legacy code.

Sorry for the confusio

[2016-10-26 17:57] #514 closed

[2016-10-26 17:58] nathanhornby commented on #514
Ok so updating to 7.0.0 fixed the issue - however it introduced a bunch of others :D

I'll try removing the `$` once I've fixed this mess.

[2016-10-26 18:19] corysimmons commented on #514
What issues did it introduce? Did you check out the [Migration Guide](https://github.com/mojotech/jeet/wiki/Migrating-from-6-to-7)?

7.0.0 has a similar API (it has `$` variables as well) so upgrading shouldn't be too hard.

[2016-10-26 18:43] raydf commented on #502
Hi @corysimmons:

1| @import 'jeet'
--------------^

1| @import 'jeet/styl'
--------------^

Neither of this commands works with webpack.

[2016-10-26 19:25] corysimmons commented on #502
Can you show me your webpack config and a bare bones version of your project structure?

It might be as easy as removing `@import ...` since the npm package for Jeet should work implicitly (you shouldn't have to `@import` it).

[2016-10-26 19:34] cbaone commented on #502
I'm not trying to hijack the thread, but I don't use webpack and I was having the same issue. Removing the @import rule fixed it for me.

[2016-10-26 19:37] corysimmons commented on #502
You're helping out, not hijacking.

Hijacking would be if you jumped in the thread and was like: "Hey guys, I see your point on webpack not working, but I really like apple pie. Will you buy my apple pies?!" :)

[2016-10-26 19:42] cbaone commented on #502
I do like apple pie though... Good point.

[2016-10-26 19:53] tikiatua commented on #502
Hi there,

I will try to find a working webpack configuration for jeet 7.0.0 tomorrow. Stay tuned.

[2016-10-26 19:57] raydf commented on #502
Thanks for the help.

removing ```@import ... ``` fixed it.

[2016-10-27 15:49] nathanhornby commented on #514
Nothing major I'm sure - but a quick look after upgrading/compiling revealed some layout issues. But I'm bug fixing post-handover so not looking to increase my workload, removing a $ is my kind of solution right now! :)

[2016-10-27 16:55] corysimmons commented on #502
Thanks @tikiatua ! When you've got something, I'll test it out and we can add Webpack to officially supported integrations. I'm going to close this Issue since it seems to work. Feel free to open a PR, or just plop some code in here.

@raydf Glad it worked!

[2016-10-27 16:55] #502 closed

[2016-10-27 16:56] corysimmons commented on #514
lol, I feel ya. Best of luck. Let me know if you have anymore questions.

[2016-10-27 19:35] tikiatua commented on #502
Just checked the example and updated it to clearly state that `@import "jeet"` should not be included in the files. This should probably be included in the readme.

[2016-10-27 22:13] corysimmons commented on #502
`@import` _should_ be there for people who are just grabbing from `node_modules`

[2016-10-29 07:47] Krajsnick commented on #488
6.1.5 is working, 7.0.0 gives the same "failed to locate jeet.styl".

[2016-10-29 15:50] corysimmons commented on #488
@Krajsnick Did you follow the [migration guide](https://github.com/mojotech/jeet/wiki/Migrating-from-6-to-7)? Can you send your config?

Try simply removing the `@import` statement.

[2016-10-30 14:07] Krajsnick commented on #488
@corysimmons Using it with Express 4:

[code]

I have tried without the `.import('jeet')` but it still doesn't work, cannot locate `jeet.styl`. What would be the correct import path?

[2016-10-30 18:17] Krajsnick commented on #488
@corysimmons It was working the whole time, it was my `col()` that was not working anymore, didn't read careful enough in the migration guide - sorry.

[2016-10-31 16:25] corysimmons commented on #488
@Krajsnick No problem! I'm glad it's working. When you said it couldn't locate `jeet.styl` I knew something was fishy because 7.0.0 doesn't have a `jeet.styl` referenced anywhere anymore. :D

[2016-11-14 14:35] coffeeneed commented on #510
Hi. Not trying to hijack this thread, but possible a feature request. I have div with 6  divs inside it and then @include column(1/3); on these divs. How do I  tell Jeet to break after 3 divs and continue with the next 3 divs on the next row (2x3)? I used cycle to do this, but that is now removed. Thanks.

[2016-11-14 15:33] castellan9168 opened #516 "Column mixin outputs strange behaviour."
Hey,
I am using column mixin with cycle variable in connection with angular js ng-repeat directive. I want to make a projects gallery with 3 gallery elements in row.

HTML file:

`<div class='projectGalleryElement' ng-repeat='project in projectsList | filter: projectTypeFilter'>
        <a href='#projectTemplate/{{project.id}}'>
            <div class='pictureMockup'></div>
            <div>

[2016-11-14 23:43] Philoozushi commented on #516
Hey,
I had the same behaviour, but fixed it.
My HTML looked like that :

[code]

However, `@include column()` eventually uses `nth-child`, like below :

[code]

In my case, the first `div.project` was actually the 2nd child of the container.
I'm pretty sure your "Project 1" is also 2nd child of its container.
Maybe the first child is your top bar.

I did something like that :

[code]
Also more sem

[2016-11-15 07:37] castellan9168 commented on #516
Hey,
Thanks for the suggestion. My gallery looks ok right now with HTML code written as follows:

 `<ul>
        <li class='projectGalleryElement' ng-repeat='project in projectsList | filter: projectTypeFilter'>
            <a href='#projectTemplate/{{project.id}}'>
                <div class='pictureMockup'>
                    <img src="" alt="">
                </div>
                <div>

[2016-11-15 07:38] #516 closed

[2016-11-15 14:47] corysimmons commented on #516
Thanks for the help @Philoozushi 👍

[2016-11-19 10:53] J5lx opened #517 "Explicit import in Stylus with Node integration is awkward"
In 6.1.5, when using the Jeet plugin for stylus, Jeet can be required in stylus by using `@require jeet`. However, when using the Node integration of 7.0.0 with explicit import (i.e. with `{"implicit": false}`), it has to be `@require styl` which is very counter-intuitive. Is there any reason for this change, or could the previous, intuitive way be restored? One quick way of doing that without bre

[2016-11-19 21:58] corysimmons commented on #517
This seems good to me. Submit a PR and I'll merge. Thanks for figuring out a non-breaking way to do this. =)

[2016-11-22 16:31] #517 closed

[2016-11-29 21:38] wkf commented on #513
@corysimmons Sorry for the delay on this, slipped my mind. I just pointed the DNS over. Lemme know if there's any issue. Thanks!

[2016-11-29 21:39] #513 closed

[2016-11-30 18:51] corysimmons commented on #513
No problemo. It looks like I'm building some of the styles wrong or something. I'll look into it when I get a second.

Thanks Will. =)

[2016-12-09 19:57] nathanhornby opened #520 "Is it possible to use flexbox with Jeet?"
I'm having a real late-Friday moment here.

I have two (jeet) columns wrapped in a container. I need them to both be the same height, i.e.:

![want](https://cloud.githubusercontent.com/assets/1975168/21062549/5c405622-be49-11e6-8000-92b0616f98d9.png)

But what I have is:

![now](https://cloud.githubusercontent.com/assets/1975168/21062555/616c9b88-be49-11e6-8009-3ac916c8699f.png)

A common issue. H

[2016-12-09 20:13] corysimmons commented on #520
How are you doing your columns? `column()`?

`column()` assigns `float` which would overpower flexbox.

Try setting https://github.com/mojotech/jeet/blob/master/docs/api.md#column-widthratios-1-gutter-map-getjeet-gutter on `width` and use `display: flex` on the container.

Let me know if that helps.

[2016-12-09 20:53] nathanhornby commented on #520
I am yes.

Unfortunately doesn't seem to have worked, I've got:

.container
    @media all and (min-width: 1200px)
      uncenter()
      display flex
main
    @media all and (min-width: 1200px)
      width column-width(8/12)
aside
    display none
    @media all and (min-width: 1200px)
      width column-width(4/12)

But no flex action it seems :(

[2016-12-09 20:59] nathanhornby commented on #520
Ah! The above did work. I had a `height 100%` on the `aside` which clearly tripped up flex. So all sorted, thanks a bunch!

[2016-12-09 20:59] #520 closed

[2016-12-09 21:26] nathanhornby commented on #520
Incidentally @corysimmons I needed to add an extra column to get it to work. It does work, but doesn't seem right. i.e.

[code]

(Note that it's 13/12 columns)

I've never seen anything like this when using standard columns and containers. Is this a known issue due to some other factor, or did you want me to try and recreate it in a 'purer' environment?

[2016-12-09 21:30] corysimmons commented on #520
Yeah could you try to recreate this in a purer environment? This doesn't seem right.

Would you mind opening it in a new issue as well so we can isolate it?

[2016-12-09 21:50] nathanhornby commented on #520
OK will do - if I get a chance tomorrow I'll sort that for you! Have a
gooden

On Fri, 9 Dec 2016, 21:30 Cory Simmons, <notifications@github.com> wrote:

[2016-12-09 21:59] corysimmons commented on #520
Thanks, you too. Appreciate it. =)

[2017-01-03 18:27] cicerobr commented on #510
Hello Cory.
The flexbox support in Jeet is coming?

[2017-01-04 17:36] corysimmons commented on #510
Possibly. I'm really swamped with work lately and flexbox doesn't bring a lot to the table.

It's not too difficult to add if you know Stylus/SCSS and want to get some GitHub karma? :D

[2017-01-17 11:25] gabrielmanara opened #521 "Problem with last item of a row"
There is a space of approximately 1px always in the last item in a row. This problem can be found on the demo site itself.

I changed the colors to give a contrast, see the image below:

![image](https://cloud.githubusercontent.com/assets/5527758/22018384/b8ec080c-dc95-11e6-9211-36aa48d5e9c7.png)

[2017-01-17 21:31] corysimmons commented on #521
@gabrielmanara This is a "sub-pixel rounding" issue.

It's caused by every browser picking a different way to implement pixels.

There is work to be done with it, but where Jeet is a bit legacy, I'm not sure it's worth implementing.

In Lost, and postcss-ant, we've addressed these issues in various ways including letting people define their own "rounders" (so like instead of `100% * 1/4`, it'd do

[2017-01-17 21:31] #521 closed

[2017-01-26 04:28] Deester4x4jr opened #522 "shift seems to have been changed to move"
Just noticing, as I recently installed jeet with npm... looks like `shift` has been renamed `move`?  Didn't find it anywhere on the website, so I was a little puzzled when I kept trying to shift columns and was getting nowhere.

Maybe some documentation is in order?  Your grid system is awesome, and I think documentation would really help adoption.  I did find this, but it seems a bit outdated (ma

[2017-01-26 15:09] alinchican commented on #522
It is documented in [the migration guide](https://github.com/mojotech/jeet/wiki/Migrating-from-6-to-7). Check out the [README](https://github.com/mojotech/jeet/blob/master/README.md).

[2017-01-26 15:24] corysimmons opened #523 "Looking for maintainer"
I'm leaving GitHub/open-source. If anyone wants to maintain just post here.

[2017-01-26 15:53] pixeldesu commented on #523
I'm still here! :P

As Jeet has reached a stable state again, taking care of the few issues coming up shouldn't be so much of a problem, so I'll of course continue the maintainer duty on here.

Best wishes to you and good luck with your projects!

[2017-01-26 16:21] corysimmons commented on #523
Ah good. Thanks @pixeldesu

[2017-01-26 16:21] #523 closed

[2017-02-08 16:30] lucvandewall opened #524 "Using Column from right to left"
Is there a way to use column() from left to right? I need to make an application available for Arabic, so people need to be able to see product align on the right.
Changing float to right (based on class:lang(ar)) creates problems with the margins; the left column doesn't have an margin-right.

Should I go for span() or are their other ways to deal with this?

[2017-02-08 18:40] corysimmons commented on #524
https://github.com/mojotech/jeet/blob/47e2c0c0e59f8c9991c4372bec3b4d2dd1446b62/scss/_settings.scss#L4

[2017-02-27 12:26] lucvandewall commented on #524
Thanks! I changed it and it works almost perfectly. Only thing that don't seem to work are breaktpoints. Had to create some @media rules.
Perhaps an enhancement for the future?

[2017-02-27 12:26] #524 closed

[2017-02-27 15:45] corysimmons commented on #524
What went wrong with the breakpoints? They should work.

[2017-03-01 17:11] nathanhornby commented on #497
… and has since been removed again. The only reference I can find is in a release that states:

"$uncycle is completely removed and forever banished"

Can anyone explain why? Some rationale, _somewhere_, would be nice; as would instructions on how to update existing code that uses this variable.

[2017-03-01 18:04] corysimmons commented on #497
@nathanhornby https://codepen.io/corysimmons/pen/BWjWgj?editors=1100 demonstrates the new usage.

Basically, instead of explicitly calling `$uncycle` to reset a specific set of styles, we're just "reseting" **everything** using `nth-child(n)` (which targets every element) now.

I figured this trick out while building Lost and decided to port it over here since it can really cleanup your styles (do

[2017-03-01 18:17] nathanhornby commented on #497
Got it - thanks Cory!

On Wed, 1 Mar 2017, 18:04 Cory Simmons, <notifications@github.com> wrote:

[2017-03-08 19:08] xaddict opened #525 "column-offset function"
I'm looking for an easy way to calculate just the offset of a column (think of bootstrap's col-sm-offset-3).

`column-width(3/12) + column-gutter(1/12)` would be an easy way to calculate this but both of those functions return a string.

To get rid of the string I need the following code:
`$offset3: to-number(str-slice(column-width(3/12), 0, -2)) + $gutter + unquote("%");`

where to-number is an a

[2017-03-08 20:31] corysimmons commented on #525
You're trying to get `column-width + column-gutter`? Or do you need half a gutter?

I think we could add something like `span-width` to do this.

[2017-03-08 20:35] corysimmons commented on #525
I'd also heavily suggest you check out [postcss-ant](/corysimmons/postcss-ant). It was specifically developed to get whatever sizes you could possibly imagine in an intuitive way.

For instance, here is a column, column + 1/2 gutter, column + full gutter: https://codepen.io/corysimmons/pen/dvNNbj?editors=1100

[2017-03-08 22:14] xaddict commented on #525
yeah, column width (3/12) plus one whole gutter width.

with a '12 column' grid the column-offset for 3/12 would

(1/12 column + 1/12 gutter)*3

On Wed, 8 Mar 2017 at 21:35 Cory Simmons <notifications@github.com> wrote:

[2017-03-08 22:20] xaddict commented on #525
Before Jeet I used to ONLY use Less CSS.
And in LESS it's pretty easy (if Jeet supported LESS):

@column2: column-width(2/12); // 14.1666666667%
@gutter: column-gutter(1/12); // 3%

.col-sm-offset-3 {
  margin-left: (@column2 + @gutter);
}

And the margin-left would be an added up percentage (17.1666666667%).
No need for postCSS, just LESS compiling to CSS.

On Wed, 8 Mar 2017 at 23:13 Luuk Lamers

[2017-03-09 01:38] corysimmons commented on #525
Sorry, I hate, and have hated, LESS' syntax so I never ported Jeet to it.

Why would you need the full gutter? `span()` works by getting half gutter. I see a case for `span-column()` being introduced, but think your need might be too fringe to warrant more API.

So far as postcss-ant, if you're already into a project, then I wouldn't migrate, but for future projects you should really look into it.

[2017-03-10 10:17] nathanhornby opened #526 "Using `box-sizing: border-box` on a column"
Sorry if this is the wrong place to ask such a question, but…

Am I likely to run into any issues down the line if I apply `box-sizing: border-box` to a Jeet column for basics like adding a border without breaking the grid?

It doesn't appear to cause any problems, but I would have assumed it would be applied to columns by default if that were the case.

Obviously I can add an extra container if i

[2017-03-10 20:27] corysimmons commented on #526
I think you're supposed to do `* { box-sizing: border-box; }` with Jeet (and everything for that matter).

We just don't include it in by default because it'd be presumptive.

[2017-03-14 06:28] login2030 opened #527 "clearfix() by condition"
Mixins column() and span() сontain within themselves clearfix() witch add pseudo elementts after and before. After and before can cause unexpected behavior when used `display:flex`. Probably a good idea will include clearfix()  by condition. Add a new parameter to myxins, for example:
[code]
I hope you understand what I mean.
Thank you.

[2017-03-14 14:07] corysimmons commented on #527
I'm fine with this. It'd need to be the last param and be enabled by default to avoid breaking existing projects.

[2017-03-14 14:16] login2030 commented on #527
Oh sure. Like this:
[code]
Otherwise, you have to add to the project like this mixin:
[code]
Thank you.

[2017-03-14 14:38] corysimmons commented on #527
Yup. Could you open a PR?

[2017-03-14 18:56] login2030 commented on #527
Ok. Thank you.

[2017-03-16 14:40] nathanhornby commented on #526
Thanks for clarifying.

Fair enough, however it seems a pretty safe assumption that your end-user won't want padding applied to a column to break their grid.

[2017-03-16 14:40] #526 closed

[2017-03-17 03:26] corysimmons commented on #526
Yeah, but [modularity](https://en.wikipedia.org/wiki/Modular_programming) and all that.

[2017-03-17 14:38] nathanhornby commented on #526
I guess what I'm saying is that I don't see ` box-sizing: border-box;` as any more 'optional' than any other property you're applying to the grid. I have to occasionally remove `overflow` properties from jeet elements, why isn't that property considered presumptive?

[2017-03-17 16:07] pixeldesu commented on #510
Just looked up the issue with tests again. Maybe I'll take a look at [sassaby](https://github.com/ryanbahniuk/sassaby) for Sass at least.

[2017-03-17 16:11] pixeldesu commented on #527
Added with 3a79f8f 🎉

[2017-03-17 16:11] #527 closed

[2017-04-04 10:17] gianniskarmas opened #530 "Column Cycle in Stylus and gutter % values"
`stylus@0.54.5 and jeet@7.1.0`
Using Within webstorm with:
`-u nib -u jeet -u rupture styles.styl`

This doesn't cycle: `column(1/4,cycle:4)`
while this does: `column(1/4,0,4)`

Using gutter: `column(1/4,0,4,2)` gives a 2% value.
Is there any way of changing the percentage to px when compiled?

[2017-04-04 14:11] corysimmons commented on #530
`$cycle`

[2017-04-04 14:31] gianniskarmas commented on #530
Thank you Cory.

Indeed this does work when compiled directly without the watcher. Webstorm is giving 'invalid argument' and stop stylus from executing unless specifically requested to compile with errors.

Anything I can do for the gutter to be compiled in different units (px)?

Many Thanks

[2017-04-04 15:06] corysimmons commented on #530
What error is WebStorm throwing exactly?

Jeet can't work with fixed units, but my other projects, [Lost](https://github.com/corysimmons/lost) and [postcss-ant](https://github.com/corysimmons/postcss-ant), can.

[2017-04-04 17:55] gianniskarmas commented on #530
`$cycle:4` 'invalid argument'.
<img width="146" alt="screen shot 2017-04-04 at 18 52 33" src="https://cloud.githubusercontent.com/assets/3495993/24670992/08563480-1968-11e7-864e-d2a0e9c7123b.png">
Expects '=' and not ':' but of course if changed stylus doesn't compile.

Thank you for your work. I will check your other projects.

[2017-04-04 18:24] corysimmons commented on #530
Hmm. It works with `$gutter` but not `$cycle`?

[2017-04-04 18:33] gianniskarmas commented on #530
No, the same happens to any $ variables inside stylus/webstorm.
Anyway, as long as it works with `column(1/4,0,4,1)` and compiler is happy, not a real problem :)

[2017-04-04 19:11] corysimmons commented on #530
It works: https://codepen.io/corysimmons/pen/dvLPeY

Not sure what the problem is.

[2017-04-27 07:21] blaasvaer opened #531 "Rows with skipped elements?"
I have a problem when going below 1024px width and shifting from:
@include column(1/4, $cycle: 4, $gutter: 0);

to:
@include column(1/3, $cycle: 3, $gutter: 0);

The first row is fine. The next is missing the first two element (having only the last element in place before going to the next row).

What did I miss?

[2017-04-27 13:23] corysimmons commented on #531
That looks correct. Can you put a reduced test case up somewhere?

[2017-06-25 12:05] blaasvaer opened #532 "Using align(both) collapses div?"
When I have this markup:

[code]

And have this css:

[code]

The box (.jewellery_image) collapses. And I have to specify a height for it to not have it collapse.

Is this by design or a bug?

[2017-07-05 12:17] blaasvaer opened #533 "How do I make jeet ignore first child?"
I need to have two columns of posts in wordpress, apart from the first; that has to span both cols at the top. I've tried using $offset, but as the docs a VERY vague it's not working.

I can use first-child to set its width to 100% but the second post then still aligns to the right ... screwing up the flow.

How would I achieve this with jeet?

[2017-07-06 17:58] blaasvaer opened #534 "Could someone please extend the so called API on the website with clearer examples?"
As it is VERY vague at best. I find it hard to see exactly HOW this is so much greater that other grid systems, as I'm having a hard time figuring out exactly what MOVE does. What's it good for? When I click the View example button, it scrolls me to a section with three cols that's prefixed with the word SHIFT!? Totally confusing ...

Could someone please elaborate on the API documentation without

[2017-07-06 19:52] corysimmons commented on #534
Hey, sorry, yes the docs on the website are wrong. I'm so sorry for wasting your time.

I'm extremely poor right now or I'd fix them. These docs are correct: https://github.com/mojotech/jeet/tree/master/docs

And if you'd like to help others who might be in your situation, feel free to fork/clone this repo, checkout `gh-pages`, follow the README (https://github.com/mojotech/jeet/tree/gh-pages), an

[2017-07-08 10:56] blaasvaer commented on #534
Hi Cory,

Sorry to hear that. And I’d be more than happy to help. My problem is, that I simply don’t understand the docs. The description of what move and offset actually do is unclear – it should be shown by an example (I’d be happy to provide those if I understood their purpose).

At the moment I’m trying (very time consuming) to have jeet ‘ignore’ the first child of a container. And in that pro

[2017-07-08 10:58] blaasvaer commented on #534
And if it’s used to reverse the order of dom flow, then move gives the wrong association (move over, as do offset). Reverse would be more descriptive.

Sam Blåsvær
Senior Frontend Architect
20 70 33 60
sam@blaasvaer.dk

Ådiget 16
2610 Rødovre

www.blaasvaer.dk

[2017-08-28 09:28] piyushchauhan2011 commented on #373
Any updates on this ? @jakecleary

[2017-08-28 11:39] corysimmons commented on #373
@piyushchauhan2011 Jake isn't really part of the project anymore.

To that end, this project is extremely old/dated/useless.

Just make a mixin to get `calc` sizes.

- Formula for 1-side margin width is: `calc(100% * fraction - (gutter - gutter * fraction))` (and the nth-child for cycle is `:not(:nth-child(#{$cycle}n + #{$cycle})`)
- Formula for 2-side margins width is: `calc(100% * fraction - gut

[2017-09-01 17:36] filipekiss commented on #405
Is anyone currently looking into it? I have a crude implementation of this feature (the $nth parameter) and I may clean-up and open a pull-request if no one is looking into it yet :)

[2017-09-02 00:10] corysimmons commented on #405
PR.

@pixeldesu You still maintaining?

[2017-09-02 02:23] pixeldesu commented on #405
@corysimmons yup, I'm still here and able to review PRs if they come up!

[2017-09-04 16:44] filipekiss commented on #510
Has anyone started or is working on flexbox support?

[2017-09-04 17:39] corysimmons commented on #510
No, I don't think so.

[2017-09-04 17:47] filipekiss commented on #510
I'll look into it, then! :)

[2017-09-05 17:47] filipekiss opened #536 "Flexbox support"
As mentioned on #510, I'm starting to add flexbox support to Jeet. I'm opening this issue so we can keep the discussion in a single place. I have a few points I wish to address and I'd love to hear from you the best way we can tackle them. I'll also add a little roadmap of things I'm doing and planning to do before putting up the first pull-request for review. You can follow the progress directly

[2017-09-05 23:36] corysimmons commented on #536
Adding flexbox support is as simple as adding a conditional to remove the `float: x; clear: x` stuff (might need some massaging for flexbox on the `stack` stuff).

Perhaps make a new mixin called `flexy()` or something that just does `display: flex; flex-wrap: wrap;`, but that's some silly abstraction.

The margin gutters are still worth keeping since flexbox has no way to add margin gutters (`jus

[2017-09-06 00:51] filipekiss commented on #536
@corysimmons Thank you for the feedback!

I'll work on a simple flex abstraction for jeet then, since nothing too fancy is required.

About the Grid/Postcss-Ant: yes, I agree on that. I confess I haven't looked into it deep yet, but I'll check it out tomorrow. And I'd love if you could guide me on that and we could work on something that's more future-proof. :)

[2018-01-05 13:22] k1sul1 commented on #373
Isn't using `calc` for everything a bad idea?

Performance and CSS isn't usually a problem, but when you use `calc` for everything, and manage to create layout trashing with JS, you're probably going to have a very bad day?

I don't think that the project is dated or useless.

[2018-01-05 13:41] emcarru opened #537 "text-align: inherit on columns"
Today I came across the issue that `column` unset my `text-align`, because it adds `text-align: inherit`. As I am working mobile first, to solve this I would need to re-set my text-align across each breakpoint. This is not a big issue, but it was an unexpected quirk.

An example of the issue:

[code]

I found an older issue relating to this [here](https://github.com/mojotech/jeet/issues/393), wher

[2018-01-05 15:11] corysimmons commented on #537
Yeah stack should remove text-align and text-align should be removed from column as well, with a major version bump.

[2018-01-05 15:12] corysimmons commented on #373
I haven't ran benchmarks but calc is being used on a bajillion projects so I can't imagine it's a significant perf hit. Feel free to provide slow demo.

[2018-02-26 18:19] corbanbrook opened #538 "Nth offset option for column proposal"
I find that it is sometimes useful to be able to offset the nth-child indexing when using cycle.

I propose the addition of an additional option, `$nth-offset` to the column mixin which would allow one to offset by a certain number. It would default to 0 which would have no effect.

Applied like this:

[code]

[2018-03-02 06:23] PriyankaBonam commented on #204
do we need to link the TortoiseSVN-1.9.7.27907-x64-svn-1.9.7.msi at the path???

[2018-03-02 14:31] corysimmons commented on #204
@PriyankaBonam tbh I'm not sure. I haven't used Windows or SVN in like a decade. Try StackOverflow, and if you have the option, I'd highly suggest you just skip SVN and go straight for Git/GitHub/BitBucket (for private repos).

[2018-04-27 13:42] filipekiss commented on #536
I was looking through my open issues and found this one. Anyone still interested in this or may I close it?

[2018-04-27 16:36] corysimmons commented on #536
Yeah I think this can be closed.

[2018-04-27 18:52] #536 closed, assigned to nobody

[2018-12-07 10:01] janoist1 opened #539 "Is this project dead?"
Last activity 2 years ago.

[2019-05-07 06:53] blaasvaer commented on #539
Well, that's the problem with versioning systems in general and the monitoring of updates (or "activity") this way. The code of a project may work just fine – sometimes it's just a matter of deciding whether constant updates to a project is a sign of constantly poor decision making or properly built code from the start.

You decide.